<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Todos los derechos reservados, Pick&Go, Honduras</h4>
            <!-- <p>87568376</p>        
          </div>
          <div class="content-foo">
            <h4>e-mail</h4>
            <p>egroserystore@gmail.com</p>        
         </div>
         <div class="content-foo">
            <h4>Phone</h4>
            <p>87568376</p>        
         </div>
         <div class="content-foo">
            <h4>Location</h4>
            <p>Colonia Fesitranh</p>  -->
        </div>
    </div>
</footer>
